@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mobile-first*/
body {
    background: var(--grayblue);
}

.box {
    width: 400px;
    background: var(--white);
    text-align: center;
    margin: auto;
    border-radius: 25px;
}

.qrcode {
    margin: 25px;
    border-radius: 12.5px;
}

.texts {
    font-family: 'Outfit';
}

.texts h1 {
    font-weight: 700;
}

.texts p {
    font-size: 15px;
    font-weight: 400;
    color: var(--lightgray);
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*desktop-second*/
@media screen and (orientation: landscape) {
    
}
